/* Adicione as regras CSS para ocultar os ícones */
.event-container {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .delete-icon,
  .edit-icon {
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 5px; /* Adicione margem à esquerda */
    z-index: 1; /* Garante que os ícones apareçam sobre o evento */
  }
  
  .event-container:hover .delete-icon,
  .event-container:hover .edit-icon {
    opacity: 1;
  }
  
  .rbc-off-range-bg {
    background-color: rgb(206, 243, 232);
    opacity: 50%;
    border: 1px solid;
  }

  .rbc-row-bg {
    border-bottom: 1px solid;
  }

  .rbc-day-bg {
    border-right: 1px solid;
  }

  .rbc-row-bg:first-child {
    border-left: 1px solid;
  }

  .rbc-header {
    border-bottom: 1px solid;
  }

  .fc-timegrid-slot {
    background-color: white !important;
  }

  .rbc-toolbar-label {
    font-size: 20px;
    font-weight: 800; 
    color: #000000; 
    font-family: 'Inter', sans-serif;
    text-transform: capitalize; 
}

